* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: 'Pretendard', sans-serif;
}

/* Pretendard Font Family */

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/Pretendard-Black.woff2') format('woff2');
}
